extends layout

block content
    body
        div.indexwrapper
            div.navbar
                div.title.welcome
                    h1.lightblue Welcome to 
                    h1 The Guardian Hivemind
                div.welcome
                    div.para 
                        p My name's Jonathan King and this is a site for some projects I made making use of The Guardian's excellent API. 
                        p You can have a look at the code used to make them  
                            a(href="http://www.github.com/JonathanUsername")  on GitHub
            div.links
                div.link
                    h2 "Let's Write The Guardian"
                        br
                        strong Article Generator
                    p Who needs journalists when you've got an infinite number of cyber monkeys on digital typewriters? That's right! This app uses probabilistic modelling to generate an article. Just stick in a search term and read a unique rejumbling of articles on that issue. The broader the term, the better the results, since it needs to be fed a lot of articles to work well. Be aware it's quite hit-and-miss, since it writes all the HTML for the article according in this way and sometimes it gets quite creative with the formatting. You can even select the level of randomness, to turn up or down the level of insanity. 
                    p.question Q: Why do you think this is cool?
                    p.answer A: Sometimes it generates an article that someone as childish as me thinks is HILARIOUS.
                    a(href="/writer")
                        div.liftclick.button Try It
                div.link
                    h2 "Let's Ask The Guardian Hivemind"
                        br
                        strong Word Cloud
                    p Have you ever wished you could ask the newspaper to reply to questions as if it was a patient undergoing rehabilitative art therapy after a severe trauma? Well, good news! Now you can, with this simple web app you can put in a search term and all the most commonly used words in the context of that term will be sprayed onto your screen in a psychdelic semantic puddle.
                    p.question Q: Why do you think this is cool?
                    p.answer A: You can find out what The Guardian "thinks" about certain subjects.
                    a(href="/cloud")
                        div.liftclick.button Try It