extends layout

block content
    nav.navbar.navbar-default.navbar-static
        div.container
            div.row
                div.col-xs-10.col-sm-7.col-md-7.col-lg-6.title
                    h1.lightblue Let's ask 
                    h1 The Guardian Hivemind
                div#navbar.col-xs-12.col-sm-5.col-md-5.col-lg-5
                    //- div.navopt.section
                    //-     input(placeholder="Enter a tag")
                    div.navopt.search
                        p Regurgitate headlines from:
                        select#section.form-control
                            option(value="news") News
                            option(value="politics") Politics
                            option(value="commentisfree") Comment is Free
                            option(value="world") World
                            option(value="culture") Culture
                            option(value="business") Economy
                            option(value="environment") Environment
                            option(value="technology") Technology
                        input#to-date.datepicker(type="text", class="form-control", data-date-format="yyyy-mm-dd", placeholder='#{today}', value='#{today}')
                        button.btn.btn-primary#goSearch Search
    div.canvas-holder
        canvas#cloudCanvas


//- <li class="dropdown">
//-   <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
//-   <ul class="dropdown-menu" role="menu">
//-     <li><a href="#">Action</a></li>
//-     <li><a href="#">Another action</a></li>
//-     <li><a href="#">Something else here</a></li>
//-     <li class="divider"></li>
//-     <li class="dropdown-header">Nav header</li>
//-     <li><a href="#">Separated link</a></li>
//-     <li><a href="#">One more separated link</a></li>
//-   </ul>
//- </li>