extends layout

block content
    nav.navbar.navbar-default.navbar-static
        div.container
            div.row
                div.col-xs-10.col-sm-7.col-md-7.col-lg-6.title
                    h1.lightblue Let's ask 
                    h1 The Guardian Hivemind
                div#navbar.col-xs-12.col-sm-5.col-md-5.col-lg-5
                    //- div.navopt.section
                    //-     input(placeholder="Enter a tag")
                    div.navopt.search
                        p What do you think about...
                        input#question.input-block(type="text", class="form-control", placeholder='')
                        button.btn.btn-primary#openOptions Options
                        select#section.input-block.optional.closed.form-control
                            option(value="all") All sections
                            option(value="commentisfree") Comment is Free
                            option(value="news") News
                            option(value="politics") Politics
                            option(value="world") World
                            option(value="culture") Culture
                            option(value="business") Economy
                            option(value="environment") Environment
                            option(value="technology") Technology
                        input#to-date.input-block.optional.closed.datepicker(type="text", class="form-control", data-date-format="yyyy-mm-dd", placeholder='#{today}', value='#{today}')
    div.article-wrap.articles  
        div.articles.overlay.col-xs-12.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
            div.articles.topbar
                div.col-xs-10 
                    h3 Articles
                div.col-xs-2
                    button.btn#closeArticles
                        span.glyphicon.glyphicon-remove
            div.articles.article-box
    div.canvas-holder
        canvas#cloudCanvas
