doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block css
      //- bower:css
      //- endbower
      link(rel='stylesheet', href='/css/style.css')
    block js
      if ENV_DEVELOPMENT
        //- bower:js
        script(src='../public/components/jquery/dist/jquery.js')
        script(src='../public/components/underscore/underscore.js')
        //- endbower
        script(src='http://localhost:35729/livereload.js')
  body
    block content
