extends layout

block content
    body
        script(src='js/writer.js')
        nav.navbar.navbar-default.navbar-static
            div.container
                div.row
                    div.col-xs-10.col-sm-7.col-md-7.col-lg-6.title
                        h1.lightblue Let's write like 
                        h1 The Guardian
                        p.subheader.lightblue(style="float:left;margin-left:280px;margin-right:0px;") Journalists. Who needs them?
                    div#navbar.col-xs-12.col-sm-5.col-md-5.col-lg-5
                        div.navopt.search
                            p Write me an article about...
                            input#question.input-block(type="text", class="form-control", placeholder='')
                            button.btn.btn-primary#search Ask
                            button.btn.btn-primary#openOptions
                                i.fa.fa-angle-down
                            p.input-block.closed.optional Markov chains use a prefix length to determine the likelihood of the next word. The default is 2.
                            p.input-block.closed.optional How random would you like it to be? 
                            select#pl.input-block.closed.optional.form-control
                                option(value="4") Almost believable (4)
                                option(value="3") Drunken ramblings (3)
                                option(value="2", selected="selected") Default (2)
                                option(value="1") Utterly Nonsensical (1)
                        div.start_box 
                            p This site uses Markov chains to ape the writing of an article from the Guardian. Sometimes it's hilarious, sometimes it's nonsensical. 
                            p If you get a good one, share it by saving the url. 
                            p Enter a search term in the box above to generate an article based on all articles that feature those words. Broader search terms are better, since there's more material to work with.
        div.info-box
            div.article-wrap
                div.overlay.col-xs-12.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
                    div.topbar
                        div.col-xs-10
                             h3 Info
                        div.col-xs-2
                            button.btn#closeInfo
                                span.glyphicon.glyphicon-remove
                    div.article-box 
                        p This web app was designed and built by me, Jon King, with the help of a few well-known libraries. It's basically a simple Express app built with NodeJS, cached with MongoDB, parsing requests to the Guardian's API and feeding them back to you to be munged into Markov chains by a separate API written in Go.
                        p You can see all the intimate details of the project here - 
                            a(href="https://github.com/JonathanUsername/guardian-hivemind-markov")  on the Github page
        div.share-box
            div.article-wrap
                div.overlay.col-xs-12.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
                    div.topbar
                        div.col-xs-10
                             h3 Sharing
                        div.col-xs-2
                            button.btn#closeShare
                                span.glyphicon.glyphicon-remove
                    div.article-box
                        div.sharing 
                            p To share, copy this url:
                                a.share-url(href="")
                            p Each search is stored as a hash by your browser, so you can always use the back button to go to previous searches, or copy the URL to share it with someone else.
        div.article_space
            h1.headline
            h2.trailtext
            div.main
            p.body
        div.mini-buttons.info#openInfo
            i.fa.fa-info-circle
        div.mini-buttons.share#openShare
            i.fa.fa-share-alt