
a {
  color: #00B7FF;
}

.navbar {
	font-family: Montserrat;
	background: #005689;
	color:#fff;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 3px solid #00456E;
	.title {
		padding:10px;
	}
	h1 {
		display:inline;
		&.lightblue {
			color: #A8D8F2;
		}
	}
	.navopt {
		display:block;
		width:100%;
		padding:10px;
	}
}

.canvas-holder{
	width:100vw;
	height: 100vh;
}