@font-face {
  font-family: BreeSerif;
  src: url(BreeSerif-Regular.otf); }

a {
  color: #00B7FF; }

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: BreeSerif; }
  body .canvas-holder {
    width: 100%;
    height: 80%;
    margin: 0; }

div.articles {
  display: none; }
  div.articles.article-wrap {
    position: absolute;
    width: 100%;
    background: rgba(255, 255, 255, 0); }
  div.articles.article-box {
    background: rgba(255, 255, 255, 0.9);
    overflow-y: scroll;
    height: 80vh;
    padding: 20px; }
    div.articles.article-box .result {
      padding: 10px;
      background: #fff;
      margin: 15px; }
  div.articles.topbar {
    background: #f6f6f6;
    height: 20px;
    height: auto;
    padding: 5px;
    overflow: auto;
    margin: 0;
    border-bottom: 1px solid #4bc6df; }
    div.articles.topbar button {
      float: right;
      margin: 10px; }
  div.articles.overlay {
    z-index: 100;
    box-shadow: 2px 4px 10px #888;
    padding: 0;
    border: 1px solid #ccc; }

.navbar {
  background: #005689;
  color: #fff;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid #00456E;
  margin-bottom: 5px; }
  .navbar #section {
    min-width: 100px;
    max-width: 180px; }
  .navbar #to-date {
    min-width: 100px;
    max-width: 150px;
    padding-left: 15px; }
  .navbar .input-block {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    margin-bottom: 10px; }
    .navbar .input-block.optional.closed {
      display: none; }
  .navbar #navbar {
    background: #00456E; }
  .navbar .title {
    padding: 10px; }
  .navbar h1 {
    display: inline; }
    .navbar h1.lightblue {
      color: #A8D8F2; }
  .navbar .navopt {
    display: block;
    width: 100%;
    padding: 10px; }
    .navbar .navopt i {
      font-size: 20px; }
  .navbar #question {
    max-width: 60%; }

@media only screen and (max-width: 330px) {
  .navbar .navopt {
    min-width: 300px;
    display: inline-block;
    padding: 10px; }
    .navbar .navopt p {
      padding: 0; }
    .navbar .navopt.section {
      width: 66.666%; }
      .navbar .navopt.section select {
        max-width: 280px; }
    .navbar .navopt.search {
      vertical-align: top;
      width: 33.333%; }
  .navbar .title {
    padding-bottom: 10px; }
    .navbar .title h1 {
      font-size: 20px; } }

@media only screen and (max-width: 640px) {
  .navbar .title {
    padding-bottom: 10px; }
    .navbar .title h1 {
      font-size: 25px; } }
